.navbar {
    text-align: center;
    align-items: center;
    font-family: Roboto;   
}
.navbar .nav-link{
    color: #3FA768 !important;
    text-shadow: 1px 1px 1px #3FA768;
}
.navbar .fab {
    color: #3FA768;
    margin: 0 5px 0 5px;
}
footer {
    font-family: Roboto; 
    color: #3FA768; 
    text-shadow: 1px 1px 1px #3FA768; 
}
footer .fab {
    margin: 0 5px 0 5px;
}
.selamatdatang .jumbotron {
    font-family: roboto;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    background-image: url(img/selamatdatang.png) !important;
    color:#ffffff;
}
.selamatdatang .jumbotron h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}
.selamatdatang .jumbotron p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
}
.selamatdatang .offer {
    background-color: #3FA768;
    font-family: Roboto;
    color:#ffffff;
}
.selamatdatang .offer h1 {
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
}
.selamatdatang .offer h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}
.selamatdatang .offer p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}